<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <script src="../js/ham.js"></script>
    <script src="../js/search.js" defer></script>
    <title>Locean.</title>
</head>

<body>
    <header class="header">
        <button class="header__button" id="btnNav" type="button">
            <i class="material-icons">menu</i>
        </button>

        <div id="logo_loceantext">
            <a href="/">
            <img id="logo__locean--text" src="../Imagens/Teste123.jpg" alt="logo-locean">
            </a>
        </div>
 
    </header>

    <nav class="nav">
        <div class="nav__links">
            <a href="/" class="nav__link">
                <i class="material-icons">home</i>
                Home
            </a>
            <a class="nav__link nav__link--active" href="/cursos">
                <i class="material-icons">article</i>
                Cursos
            </a>
            <a class="nav__link" href="/perfil">
                <i class="material-icons">person</i>
                Perfil
            </a>
            <a class="nav__link" href="/login">
                <i class="material-icons">login</i>
                Login
            </a>
        </div>
        <div class="nav__overlay"></div>
    </nav>

<main>


    <body>
        <div class="search-bar">
        <form class="search-container">
            <input type="search" id="search-bar" placeholder="Pesquise por um curso" data-search>
            <a href="#"><i class="material-icons">search</i></a>
        </form>
    </div>
        <div class="user-cards" data-user-cards-container></div>
        <template data-user-template>
          <div class="card">
            <a href="/pagcurso">
            <img src="../Imagens/423432.png" alt="">
            </a>
            <div id="card__text" data-header></div>
            <div data-body></div>
          </div>
        </template>
      </body>

    <div class="footer-container">
        <div class="footer">
            <a href="/contato"><i class="material-icons">email</i>
            Contato</a>
            <a href="/termos"><i class="material-icons">description</i>
            Termos de Serviço</a>
            <a href="/segurança"><i class="material-icons">shield</i>
            Segurança</a>
            <a href="/privacidade"><i class="material-icons">lock</i>
            Privacidade </a>
            <a href="/Aboutus"><i class="material-icons">text_snippet</i>
            Sobre Nós</a>
            <a href="/perguntas"><i class="material-icons">textsms</i>
            Perguntas Frequentes</a>
        </div>
    </div>

</main>

</body>
</html>