<div class="sec__cperf__user">
    <div class="sec__cperf__back">
        <div class="cperf__user__header" method="post" action="/configperf">
            <div class="cperf__user__xesq">
                <div class="cperf__user__avatar">
                    <img src="/" alt="img-avatar">
                    <button type="button" type="file" class="botão-avatar">
                        <i class="material-icons">image</i>
                    </button>
                </div>
                <img src="/" alt="header-img">
                <button type="button" type="file" class="botão-xesq">
                    <i class="material-icons">collections</i> 
                    <span id="papel__parede">Papel de Parede</span>  
                </button>
            </div>
        </div>
        <div class="cperf__user__body">
            <div class="cperf__user__bio">
                <button type="button" class="botão-bio">
                    <i class="material-icons">edit</i>
                </button>
                <h4 class="dataN">Data de Entrada</h4>
                <h3 class="titulo">Nome de Usuário</h3>
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    </div>   

